.eje {
  font-size: 20px;
  vertical-align: middle;
}

.btn.btn-primary {
  height: 55px !important;
  width: 100% !important;
  font-weight: bold;
}

.aprox {
  font-weight: bold;
}

#priceFile {
  background-color: green;
  color: white;
  font-weight: bold;
}

.btn.btn-info {
  height: 55px !important;
  width: 100% !important;
}

.card {
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15) !important;
}
