<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Mis Pedidos</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>Ingresa el código de tu pedido</h3>
    </div>
    <div class="col-9">
      <input type="text" class="form-control" id="codigoPedido" placeholder="123-456-789"/>
    </div>
    <div class="col-3">
      <button type="submit" class="btn btn-primary" style="width: 100%">Confirmar</button>
    </div>
  </div>

  <div class="pedido mt-5 mb-5">
    <div class="row bg-secondary text-white p-3">
      <div class="col-9">
        <div class="row">
          <div class=col-2>
            <h6>Pedido:</h6>
            <span>111-789-034</span>
          </div>
          <div class=col-2>
            <h6>Fecha:</h6>
            <span>20-04-2020</span>
          </div>
          <div class=col-2>
            <h6>Cliente:</h6>
            <span>Juan Pérez</span>
          </div>
          <div class=col-3>
            <h6>Precio Estimado:</h6>
            <span>$600.00 MXN</span>
          </div>
          <div class=col-2>
            <h6>Precio Real:</h6>
            <span>$537.00 MXN</span>
          </div>
        </div>
      </div>
      <div class="col-3">
        <h6>Estado:</h6>
        <span>A espera de pago</span>
      </div>
    </div>

    <div class="row pb-4" style="border: 3px solid #6c757d;">
      <div class="col-12 bg-white pt-4 pb-4 pl-5 pr-5">
        <div class="row text-center">
          <div class="col-2 p-2 bg-secondary">
            <span>Cotizando</span>
          </div>
          <div class="col-2 p-2 bg-primary text-white">
            <strong>A espera de pago</strong>
          </div>
          <div class="col-2 p-2 bg-secondary">
            <span>En revisión</span>
          </div>
          <div class="col-2 p-2 bg-secondary">
            <span>En producción</span>
          </div>
          <div class="col-2 p-2 bg-secondary">
            <span>Listo</span>
          </div>
          <div class="col-2 p-2 bg-secondary">
            <span>Entregado</span>
          </div>
        </div>
      </div>

      <div class="col-12 pl-5 pr-5 pb-4">
        <p>Su pedido se encuentra en espera de pago. Suba una foto de su recibo de pago y seleccione Confirmar Pago para continuar el proceso de producción.</p>
      </div>
      <div class="col-4 pl-5">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <input type="file" id="imagenModelo">
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="dimensiones">Dimensiones</label>
              <input class="form-control" type="text" placeholder="Dimensiones especificadas" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="col-12">
          <div class="form-group">
            <label for="nombreArchivo">Archivo</label>
            <input class="form-control" type="text" placeholder="Nombre de archivo" readonly>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="material">Material</label>
            <input class="form-control" type="text" placeholder="Material seleccionado" readonly>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="calidad">Calidad</label>
            <input class="form-control" type="text" placeholder="Calidad seleccionada" readonly>
          </div>
        </div>
        <div class="col-12 pt-3">
          <div class="form-group">
            <input type="file" id="recibo">
          </div>
        </div>
      </div>
      <div class="col-4 pr-5">
        <div class="col-12">
          <div class="form-group">
            <label for="dimensiones">Color</label>
            <input class="form-control" type="text" placeholder="Color seleccionado" readonly>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="dimensiones">Porcentaje de relleno</label>
            <input class="form-control" type="text" placeholder="Relleno especificado" readonly>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="dimensiones">Cantidad</label>
            <input class="form-control" type="text" placeholder="Cantidad seleccionada" readonly>
          </div>
        </div>
        <div class="col-12 pt-3">
          <button type="submit" class="btn btn-primary" style="width: 100%">Confirmar Pago</button>
        </div>
      </div>
    </div>
  </div>
</div>
