<div class="home-servicios card mb-5">

  <div class="card-header">
    <h3>Servicios</h3>
  </div>

  <div class="card-header bg-secondary">
    <form>
      <div class="row text-white p-2">
        <div class="col-lg-5">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="fondo">Imagen</label>
                <input type="file" class="form-control" name="fondo" value="Subir Imagen" (change)="saveImage($event)">
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label for="titulo">Título</label>
                <input type="text" class="form-control" name="titulo" required [(ngModel)]="servicioParte1.title">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="desc">Descripción</label>
                <input type="text" class="form-control" name="desc" required [(ngModel)]="servicioParte1.description">
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label for="lista">Lista</label>
                <input type="text" class="form-control" name="lista" required [(ngModel)]="servicioParte1.list">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="form-group">
            <label class="text-secondary">Mi amigo Oscar</label>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Agregar</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="card-body">
    <app-servicios-parte1-list></app-servicios-parte1-list>
  </div>

</div>
