<div style="margin: 10px">
    <h2>Servicios Parte 1</h2>
    <hr>
    <form>
      <div>
        <div class="row">
            <div class="col-lg-4 offset-lg-2">
              <div class="form-group">
                <label for="fondo">Imagen</label><br>
                <input type="file" class="form-control" name="fondo" value="Subir Imagen" (change)="saveImage($event)">
              </div>
              <div class="form-group">
                <label for="titulo">Titulo</label><br>
                <input type="text" class="form-control" name="titulo" required [(ngModel)]="servicioParte1.title">
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-lg-6" style="margin-top: -210px;">
              <div class="form-group">
                <label for="desc">Descripción</label><br>
                <input type="text" class="form-control" name="desc" required [(ngModel)]="servicioParte1.description">
              </div>
              <div class="form-group">
                <label for="lista">Lista</label><br>
                <input type="text" class="form-control" name="lista" required [(ngModel)]="servicioParte1.list">
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-0 offset-lg-11" style="margin-top: -100px;">
              <button type="submit" class="btn btn-success" (click)="onSubmit()">Agregar</button>
          </div>
        </div>
        <hr>
      </div>
    </form>
    <app-servicios-parte1-list></app-servicios-parte1-list>
    </div>
