<br>
<br>
<div class="card text-center">
    <div class="card-header">
      Datos Generales
    </div>
    <div class="card-body">
      <h5 class="card-title text-left">Datos de la Semana</h5>
      <div class="dropdown text-left">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          4 Mayo 20
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">27 Abril 20</a>
          <a class="dropdown-item" href="#">20 Abril 20</a>
          <a class="dropdown-item" href="#">13 Abril 20</a>
        </div>
      </div>
      <br>

        <div class="list-group">
            <ul class="list-group list-group-horizontal ">
                <li class="list-group-item col-md-4 background-orange">
                    <h5>Pedidos Realizados</h5>
                    <h3>123</h3>
                </li>
                <li class="list-group-item col-md-4 background-blue">
                    <h5>Pedidos Pagados</h5>
                    <h3>123</h3>
                </li>
                <li class="list-group-item col-md-4 background-green">
                    <h5>Ingresos</h5>
                    <h3>123</h3>
                </li>
            </ul>
        </div>
    </div>
</div>

<br>
<div class="card text-center">
    <div class="card-header">
       Pedidos Activos
    </div>
    <app-pedido></app-pedido>
</div>
<br> 