<div [hidden]="!admin2">
<app-navbar-admin></app-navbar-admin>
<br>
<div class="container">

  <div class="row mb-4">
    <div class="col-12">
      <h1>Dashboard de Resumen</h1>
    </div>
  </div>

  <div class="card mb-5">
    <div class="card-header">
      <h3>Datos Generales</h3>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
              <p class="card-title text-left">Año</p>
            <select class="form-control filtro">
              <option *ngFor="let item of items">{{item.ano}}</option>
            </select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
              <p class="card-title text-left">Mes</p>
            <select class="form-control filtro">
              <option *ngFor="let item of items">{{item.ano}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-4">
          <div class="card background-orange">
            <div class="card-body">
              <h5>Pedidos Realizados</h5>
              <h3>123</h3>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card background-blue">
            <div class="card-body">
              <h5>Pedidos Pagados</h5>
              <h3>123</h3>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card background-green">
            <div class="card-body">
              <h5>Ingresos</h5>
              <h3>123</h3>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="card mb-5">
    <div class="card-header">
     <h3>Pedidos Activos</h3>
    </div>
    <app-pedido [pedidos] = "pedidos"></app-pedido>
  </div>

  <div class="card mb-5">
    <app-inventario></app-inventario>
  </div>

</div>


<br>

</div>
