
.background-orange{
    background-color: #f79b45;
}
.background-green{
    background-color: #49de60;
}
.background-blue{
    background-color: #49c0de;
}
.background-gray{
    background-color: #D3D3D3;
}
a { 
    color: inherit; 
    text-decoration: none;
} 