<br>
<div class="card text-center">
    <div class="card-header">
      Datos Generales
    </div>
    <div class="card-body">
      <h5 class="card-title text-left">Datos de la Semana</h5>
      <div class="dropdown text-left">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          4 Mayo 20
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">27 Abril 20</a>
          <a class="dropdown-item" href="#">20 Abril 20</a>
          <a class="dropdown-item" href="#">13 Abril 20</a>
        </div>
      </div>
      <br>

        <div class="list-group">
            <ul class="list-group list-group-horizontal ">
                <li class="list-group-item col-md-4 background-orange">
                    <h5>Pedidos Realizados</h5>
                    <h3>123</h3>
                </li>
                <li class="list-group-item col-md-4 background-blue">
                    <h5>Pedidos Pagados</h5>
                    <h3>123</h3>
                </li>
                <li class="list-group-item col-md-4 background-green">
                    <h5>Ingresos</h5>
                    <h3>123</h3>
                </li>
            </ul>
        </div>
    </div>
</div>

<br>
<div class="card text-center">
    <div class="card-header">
       Pedidos Activos
    </div>
    <div class="card-body text-center">
      <br>

        <div class="list-group" >
            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <ul class="list-group list-group-horizontal justify-content-center">
                
                <li class="list-group-item background-gray col-md-2">
                    <h6>Pedido</h6>
                    <h5>122222</h5>
                </li>
                <li class="list-group-item background-gray col-md-2">
                    <h6>Fecha</h6>
                    <h5>20-04-2020</h5>
                </li>
                <li class="list-group-item background-gray col-md-2">
                    <h6>Cliente</h6>
                    <h5>Humberto Suazo</h5>
                </li>
                <li class="list-group-item background-gray col-md-2">
                    <h6>Precio Estimado</h6>
                    <h5>$6000 MXN</h5>
                </li>
                <li class="list-group-item background-gray col-md-2">
                    <h6>Precio Real</h6>
                    <h5>$6200 MXN</h5>
                </li>
                <li class="list-group-item background-gray col-md-2">
                    <h6>Estado</h6>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        En revisión
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Imprimiendo</a>
                        <a class="dropdown-item" href="#">Entregado</a>
                      </div>
                </li>
            </ul>
        </a>
        </div>
        <br> 
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        <br>       
    </div>
</div>