


  <ul class="list-group">
    <li *ngFor="let pedido of pedidos">
        <div class="card-body text-center">
            <br>
              <div class="list-group" >
                    <ul class="list-group list-group-horizontal justify-content-center">
        
                        <li class="list-group-item background-gray col-md-2">
                            <h6>Pedido</h6>
                            <h5>{{pedido.key}}</h5>
                        </li>
                        <li class="list-group-item background-gray col-md-2">
                            <h6>Fecha</h6>
                            <h5>20-04-2020</h5>
                        </li>
                        <li class="list-group-item background-gray col-md-2">
                            <h6>Cliente</h6>
                            <h5> {{pedido.nombre}} {{pedido.apellido}}</h5>
                        </li>
                        <li class="list-group-item background-gray col-md-2">
                            <h6>Precio Estimado</h6>
                            <h5>${{pedido.precio}} MXN</h5>
                        </li>
                        <li class="list-group-item background-gray col-md-2">
                            <h6>Precio Real</h6>
                            <h5>$6200 MXN</h5>
                        </li>
                        <li class="list-group-item background-gray col-md-2">
                            <h6>Estado</h6>
                            <select ng-model="selectedStatus" ng-options="x for x in status">
                            </select>
                        </li>
                    </ul>
                
              </div>
              <br>       
          </div>
    </li>
  </ul>