<!-- <div class="container-fluid">
  <div style="color: blue;">
    <h1>{{title}}</h1>
  </div>

  <nav class="navbar navbar-expand-md bg-light navbar-light">
    <a class="navbar-brand" [routerLink]="['/admin']">Prisma MX</a>
    <a routerLink="customers" class="nav-link" role="button" routerLinkActive="active">Customers</a><br>
    <a routerLink="add" class="nav-link" role="button" routerLinkActive="active">Add</a><br>
    <a routerLink="admin"class="nav-link" role="button" routerLinkActive="active">Admin</a><br>
    <a routerLink="mis-pedidos"class="nav-link" role="button" routerLinkActive="active">Mis Pedidos</a>
  </nav>

  <router-outlet></router-outlet>
</div> -->

<div class="page">
  <app-topbar></app-topbar>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
