<div class="container">
  <div class="row mt-4">
    <div class="col-12">
      <h1>Editor de Contenido</h1>
    </div>
  </div>

  <nav class="navbar navbar-expand-md bg-dark navbar-dark mt-4 mb-5">
    <a class="navbar-brand" [routerLink]="['/admin']">ADMIN</a>
    <a href="/admin#infoGeneral" class="nav-link" role="button">Información General</a>
    <a href="/admin#homeBanners" class="nav-link" role="button">Home Banner Slider</a>
    <a href="/admin#homeServicios" class="nav-link" role="button">Servicios</a>
    <a href="/admin#precios" class="nav-link" role="button">Precios</a>
    <a href="/admin#faqs" class="nav-link" role="button">Preguntas Frecuentes</a>
  </nav>


  <app-edit-contact-info id="infoGeneral"></app-edit-contact-info>
  <app-home-banner-slider id="homeBanners"></app-home-banner-slider>
  <app-servicios-parte1 id="homeServicios"></app-servicios-parte1>
  <app-precios id="precios"></app-precios>
  <app-faqs id="faqs"></app-faqs>
</div>
