<div class="container dashboard">

  <app-navbar></app-navbar>

  <div class="title">
    <h1>Dashboard de Resumen</h1>
  </div>

  <div class="datos">
    <div class="subtitle">
      <h2>Datos Generales</h2>
    </div>
    <div class="wrapper">
      <div class="content">
        <div class="filtro">
          <span>Datos de</span>
        </div>
        <div class="row justify-content-center">
          <div class="realizados col-xl-4 col-lg-4 col-md-4 col-12">
            <div class="titulo-indicador">
              <span>Pedidos Realizados</span>
            </div>
            <div class="indicador">
              <span>12</span>
            </div>
          </div>
          <div class="pagados col-xl-4 col-lg-4 col-md-4 col-12">
            <div class="titulo-indicador">
              <span>Pedidos Pagados</span>
            </div>
            <div class="indicador">
              <span>12</span>
            </div>
          </div>
          <div class="ingresos col-xl-4 col-lg-4 col-md-4 col-12">
            <div class="titulo-indicador">
              <span>Ingresos</span>
            </div>
            <div class="indicador">
              <span>12</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
