.header-pedido {
  border-radius: 0.25rem;
}

.input-pedidos {
  height: 35px;
}

.input-status {
  height: 35px;
}

.imagen-modelo {
  max-height: auto;
}

.btn {
  height: 55px;
  width: 100%;
}

.btn.btn-default {
  width: 50%;
}

.fas {
  font-size: 30px;
}
