<div class="home-sliders card mb-5">

  <div class="card-header">
    <h3>Home Banner Slider</h3>
  </div>

  <div class="card-header bg-secondary">
    <form>
      <div class="row text-white p-2">
        <div class="col-lg-5">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="fondo">Imagen de Fondo</label><br>
                <input type="file" class="form-control" name="fondo" value="Subir Imagen" (change)="saveImage($event)">
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label for="titulo">Título</label><br>
                <input type="text" class="form-control" name="titulo" required [(ngModel)]="banner.title">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="subtitulo">Subtítulo</label><br>
                <input type="text" class="form-control" name="subtitulo" required [(ngModel)]="banner.subtitle">
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label for="cta">CTA</label><br>
                <input type="text" class="form-control" name="cta" required [(ngModel)]="banner.cta">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="form-group">
            <label class="text-secondary">Mr. Angular</label>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Agregar Slider</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="card-body">
    <app-home-slider-list></app-home-slider-list>
  </div>

</div>
