<div class="row mt-5 mb-3">
  <div class="col-12">
    <h3>Home Banner Slider</h3>
  </div>
</div>

<div class="home-sliders">

  <form>
    <div class="row bg-secondary no-gutters pt-4 pr-5 pb-4 pl-5">
      <div class="col-lg-5">
        <div class="row pr-4">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="fondo">Imagen de Fondo</label><br>
              <input type="file" class="form-control" name="fondo" value="Subir Imagen" (change)="saveImage($event)">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label for="titulo">Título</label><br>
              <input type="text" class="form-control" name="titulo" required [(ngModel)]="banner.title">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="row pr-4">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="subtitulo">Subtítulo</label><br>
              <input type="text" class="form-control" name="subtitulo" required [(ngModel)]="banner.subtitle">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label for="cta">CTA</label><br>
              <input type="text" class="form-control" name="cta" required [(ngModel)]="banner.cta">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 add-slider">
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Agregar Slider</button>
      </div>
    </div>
  </form>

  <div class="p-5" style="border: 3px solid #6c757d;">
    <app-home-slider-list></app-home-slider-list>
  </div>

</div>
